In [ ]:
from env import host, user, password

In [ ]:

get_db_url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Use your function to obtain a connection to the employees database.

In [ ]:
pd.read_sql('SELECT * FROM employees', get_db_url)

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [ ]:
#pd.read_sql('SELECT * FROM employeez', get_db_url)

###tells me that employeez doe not exist. employeez is the typo

In [ ]:
pd.read_sql('SELECT cats FROM employees', get_db_url)

##tells me that the collum does not exist

Read the employees and titles tables into two separate DataFrames.

In [ ]:
sql_employees = pd.read_sql('SELECT * FROM employees.employees', get_db_url)

In [ ]:
sql_titles = pd.read_sql('SELECT * FROM employees.titles', get_db_url)

How many rows and columns do you have in each DataFrame? Is that what you expected?

for the employees there are 300.024 rows and 6 collums 

for the titles there are 443 308

yes that is expected unelees i did this wrong

Display the summary statistics for each DataFrame.

#.describe ?

In [ ]:
sql_employees.describe()

In [ ]:
sql_titles.describe()

How many unique titles are in the titles DataFrame?

In [ ]:
sql_titles.title.value_counts()

What is the oldest date in the to_date column?

#is going to be the 1985-03-01

In [ ]:
sql_titles.sort_values(by= 'to_date')

What is the most recent date in the to_date column?

most recent would be the currently employed 9999- 01-01

In [ ]:
############################################################################################

In [ ]:
from pydataset import data

In [ ]:
np.random.seed(123)

In [ ]:
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [ ]:

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [ ]:
df

Copy the users and roles DataFrames from the examples above.

In [ ]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

What is the result of using a right join on the DataFrames?

In [ ]:
users.merge(roles, left_on='role_id', right_on='id', how='right')

What is the result of using an outer join on the DataFrames?

In [ ]:
users.merge(roles, left_on='role_id', right_on='id', how='outer')

What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
user_drop = users.drop(columns=['role_id'])

In [ ]:
rol_drop = roles.drop(columns=['id'])

In [ ]:
#user_drop.merge(rol_drop, left_on='role_id', right_on='id', how='inner')

In [ ]:
#after dropping it it did not want to merge by the same criteria again

Output and read the documentation for the mpg dataset.

In [ ]:
 data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

In [ ]:
mpg

How many rows and columns are in the dataset?

In [ ]:
mpg.shape

Check out your column names and perform any cleanup you may want on them.

In [ ]:
mpg = mpg.rename(columns={'cty': 'city'})

In [ ]:
mpg = mpg.rename(columns={'hwy': 'highway'})

In [ ]:
mpg

Display the summary statistics for the dataset.

In [ ]:
mpg.describe()

How many different manufacturers are there?

In [ ]:
mpg.manufacturer.value_counts()

How many different models are there?

In [ ]:
mpg.model.value_counts()

Create a column named mileage_difference like you did in the DataFrames exercises; 

this column should contain the difference between highway and city mileage for each car.

In [ ]:
mpg['mileage_difference'] = mpg.highway-mpg.city
mpg

Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [ ]:
mpg['average_mileage'] = mpg.city + mpg.highway / 2

mpg

Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [ ]:
mpg['is_automatic '] = mpg.trans.str.startswith('a')

mpg

Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [ ]:
mpg.average_mileage.nsmallest()

In [ ]:
mpg.groupby('manufacturer')[['average_mileage']]

In [ ]:
mpg.groupby('manufacturer').average_mileage.min().sort_values(ascending=False).head(1)

Do automatic or manual cars have better miles per gallon?

In [ ]:
mpg.groupby('trans')['average_mileage'].agg(['min'])

In [ ]:
###################################################################################

Use your get_db_url function to help you explore the data from the chipotle database.

In [ ]:
orders = pd.read_sql('SELECT * FROM orders', get_db_url)
orders

In [ ]:
orders.info()

## im guessing for the first question i should convert the item price to an integer

What is the total price for each order?

In [ ]:

#orders['item_price'] = orders.item_price.str.replace('$', '')

In [ ]:
order_totals = orders.groupby('order_id').item_price.sum()
order_totals

What are the most popular 3 items?

In [ ]:
orders.groupby('item_name').sum().sort_values(by= 'quantity', ascending=False).head(3)

Which item has produced the most revenue?

In [ ]:
orders.groupby('item_name').sum().sort_values(by= 'item_price',ascending=False).head(1)

Join the employees and titles DataFrames together.

In [ ]:
employees = pd.read_sql('SELECT * FROM employees JOIN titles using (emp_no)', get_db_url)

For each title, find the hire date of the employee that was hired most recently with that title.

In [ ]:
employees.groupby('hire_date').max().sort_values(by= 'hire_date',ascending=False).head(1)

Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [ ]:
dept_title_query = '''

                    SELECT t.emp_no, 
                    t.title, 
                    t.from_date, 
                    t.to_date, 
                    d.dept_name 
                    FROM departments AS d 
                    JOIN dept_emp AS de USING(dept_no) 
                    JOIN titles AS t USING(emp_no);

                    '''

In [ ]:
dept_titles = pd.read_sql(dept_title_query, get_db_url('employees'))

In [ ]:
current_titles = dept_titles[dept_titles.to_date == dept_titles.to_date.max()]

In [ ]:
current_titles_crosstab = pd.crosstab(current_titles.dept_name, current_titles.title)
current_titles_crosstab