In [ ]:
#pandasseries review

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [ ]:
# Python - Dict, list
# [1,2,4,4,5]

# Numpy - arrays
# np.array([1,2,4,5])

# pandas - Series (1-D), dataframes(2D)
# Series - built on numpy 
# Series - also have Index

In [3]:
numbers_series = pd.Series([100, 43, 26, 17, 17])
type(numbers_series)

pandas.core.series.Series

In [4]:
numbers_series

0    100
1     43
2     26
3     17
4     17
dtype: int64

Vectorized code refers to operations that are performed on multiple components of a vector at the. same time

In [5]:
numbers_series + 1

0    101
1     44
2     27
3     18
4     18
dtype: int64

In [6]:
numbers_series == 17

0    False
1    False
2    False
3     True
4     True
dtype: bool

.index

In [7]:
# Access the index of the Series using dot notation.

numbers_series.index
#the index is basically the left

RangeIndex(start=0, stop=5, step=1)

.values

In [8]:
# The values are stored in a NumPy array. Hello vectorized operations!

numbers_series.values
#ussually the one on the right the stuff that we wrote

array([100,  43,  26,  17,  17])

.dtypes

int: integer, whole number values
float: decimal numbers
bool: true or false values
object: strings
category: a fixed and limited set of string values

In [9]:
numbers_series.dtype

dtype('int64')

.name

In [10]:
numbers_series.name = 'Numbers'
numbers_series

0    100
1     43
2     26
3     17
4     17
Name: Numbers, dtype: int64

.size

In [11]:
numbers_series.size

5

.shape

In [12]:
numbers_series.shape

(5,)

*******************Series Methods****************************

The .head(n) method returns the first n rows in the Series; n = 5 by default. This method returns a new Series with the same indexing as the original Series.
********************************
The .tail(n) method returns the last n rows in the Series; n = 5 by default. Increase or decrease your value for n to return more or less than 5 rows.
*********************************
The .sample(n) method returns a random sample of rows in the Series; n = 1 by default. Again, the index is retained.

In [13]:
numbers_series.head(2)

0    100
1     43
Name: Numbers, dtype: int64

In [14]:
numbers_series.tail(2)

3    17
4    17
Name: Numbers, dtype: int64

In [15]:
numbers_series.sample()
#this one is rndom

0    100
Name: Numbers, dtype: int64

.astype

In [16]:
num_strings = pd.Series([3, 4, 5, 6]).astype('str')
num_strings

0    3
1    4
2    5
3    6
dtype: object

In [17]:
floats = pd.Series([3, 4, 5, 6]).astype('float')
floats

0    3.0
1    4.0
2    5.0
3    6.0
dtype: float64

In [18]:
floats.astype('int')

0    3
1    4
2    5
3    6
dtype: int64

.value_counts

In [19]:
pd.Series(['a', 'b', 'a', 'c', 'b', 'a', 'd', 'a']).value_counts()

a    4
b    2
c    1
d    1
dtype: int64

In [20]:
numbers_series.describe()

count      5.000000
mean      40.600000
std       34.861153
min       17.000000
25%       17.000000
50%       26.000000
75%       43.000000
max      100.000000
Name: Numbers, dtype: float64

.nlargest, .nsmallest

In [ ]:
#this would be default 
Series.nlargest(n=5, keep='first')
Series.nsmallest(n=5, keep='first')

In [21]:
# If I want to return all of the lowest values, not just the first instance.

numbers_series.nsmallest(n=1, keep='all')
 #remember the keep option

3    17
4    17
Name: Numbers, dtype: int64

.sort_values, .sort_index

In [23]:
letters_series = pd.Series(['a', 'e', 'h', 'd', 'b', 'z'])
letters_series

0    a
1    e
2    h
3    d
4    b
5    z
dtype: object

In [24]:
letters_series.sort_values()
#remeber that the values are on the right

0    a
4    b
3    d
1    e
2    h
5    z
dtype: object

In [25]:
# The Series values retain their index from the original Series.

letters_series.sort_values(ascending=False)
#this is to make it the other way around

5    z
2    h
1    e
3    d
4    b
0    a
dtype: object

In [26]:
# I can reset the index using this parameter if that meets my needs.

letters_series.sort_values(ignore_index=True)
#this is the  right way around

0    a
1    b
2    d
3    e
4    h
5    z
dtype: object

In [27]:
# I can also sort by index values.

labeled_series.sort_index(ascending=False)

NameError: name 'labeled_series' is not defined

Exercises Part I

In [30]:
  fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

Determine the number of elements in fruits.

In [32]:
fruits.size

17

Output only the index from fruits.

In [33]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [34]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [35]:
fruits.dtype

dtype('O')

In [36]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [37]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [38]:
fruits.sample(2)

4    gala apple
1         mango
dtype: object

In [39]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [42]:
fruits.unique

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [43]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [44]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [47]:
fruits.value_counts().nsmallest(keep = "all")

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

***************************************************************

indexing and subsetting

In [48]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [54]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [56]:
vowels = ('aeiou')
vowels

'aeiou'

In [58]:
fruits.str.count('[vowels]')

0     1
1     1
2     3
3     3
4     3
5     5
6     2
7     5
8     4
9     1
10    1
11    1
12    1
13    3
14    2
15    5
16    0
dtype: int64

In [61]:
fruits.count()

17

In [63]:
max(fruits, key = len)

'honeycrisp apple'

In [67]:
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [70]:
fruits[fruits.str.count('o') > 2]

Series([], dtype: object)

In [77]:
fruits[fruits.str.count('berry') > 0]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [78]:
fruits[fruits.str.count('apple') > 0]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [79]:
max(fruits.str.count('[vowels]'))

5